<div class="row mt-3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar" [style.width]="'100%'"></div>
    </div>
    <div class="col mt-3">
        <span>{{ stepNumber }}</span>&nbsp;
        <span>{{ stepTitle }}</span>
    </div>
    <router-outlet (activate)='onActivate($event)'></router-outlet>
    <div class="col arrows">
        <span class="round" (click)="toPrev()">&#8249;</span>&nbsp;
        <span class="round" (click)="toNext()">&#8250;</span>
    </div>
</div>