<div class="row background">
    <div class="container d-flex justify-content-center mt-4">
        <div class="col-10">
          <div class="card">
            <div class="card-body">
              <div class="row border-line">
                <div class="center">
                    <img class="logo" src="../assets/iceberg-icon-6.jpg" alt="icon">
                </div>
                <div style="text-align: center;">
                    <h1>Welcome to Save The Icecaps Inc!</h1>
                </div>
                <div style="text-align: justify;">
                  Subscribe to our donation-driven monthly physical newsletter, delivered straight to your home, for our recent climate change awareness campaign.
                  Your contribution helps our Earth. Let's spread the news!
                </div>
              </div>
              <div class="row">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>