.background {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100%; 
    max-height: 100%; 
    background-image: url('../assets/ice-background.jpg');
    background-size: cover;
    margin: 0;
}

.logo {
    width: 100px;
    border-radius: 50%;
}