<div class="row" *ngIf="donationForm">
    <div class="col-12 inputs">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span style="font-weight: bold;">Recipient's Name</span>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6">
            Yes
        </div>
    </div>
    <div class="col-12 inputs">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span style="font-weight: bold;">Address</span>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6">
            Yes
        </div>
    </div>
    <div class="col-12 inputs">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span style="font-weight: bold;">Date of Birth</span>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6">
            Yes
        </div>
    </div>
    <div class="col-12 inputs">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span style="font-weight: bold;">Income</span>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6">
            Yes
        </div>
    </div>
    <div class="col-12 inputs">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <span style="font-weight: bold;">Donation Amount</span>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6">
            Yes
        </div>
    </div>
    <div class="col-12 inputs">
        <div class="form-check">
            <input class="form-check-input" type="radio" id="newsletter" checked disabled>
            <label class="form-check-label" for="newsletter">
              Disabled checked radio
            </label>
          </div>
    </div>
    <div class="col-12 inputs">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isAgreed" checked disabled>
            <label class="form-check-label" for="isAgreed">
                I have read all terms and conditions and agree to be bound by them
            </label>
          </div>
    </div>
    <div class="col-12 center">
        <button type="button" class="btn btn-lg center">Submit</button>
    </div>
</div>