/* You can add global styles to this file, and also import other style files */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-line {
    padding-bottom: 1em;
    border-bottom: 2px solid;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #0452aa;
    color: white;
}

.round {
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em;
    font-weight: bold;
    border-radius: 50%;

    &:hover {
        background-color: rgb(5, 197, 255);
        color: black;
    }

}

.btn-donate {
    height: 50px;
    width: 150px;
    background-color: #FFEA00 !important;
    color: black !important;

    &:hover {
        font-weight: bolder !important;
        font-size: larger !important;
        border: 3px solid white;
    }

    &:focus {
        opacity: 0.5;
    }
}